{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        <h2>Login</h2>
        <form method="post">
            <table>
                <tr>
                    <td class="label">Username</td>
                    <td><input type="text" name="username" value="{{username}}"></td>
                </tr>

                <tr>
                    <td class="label">Password</td>
                    <td><input type="password" name="password" value=""></td>
                </tr>
            </table>

            <div class="error">{{error}}</div>
            <button class="button" type="submit">Log in</button>
        </form>
    </div>

{% endblock %}