{% extends "base.html" %}

{% block content %}
    <div>
        <h2>New Post</h2>
            <form method="post">
                <div class="label">Subject</div>
                <input class="subject-input" type="text" name="subject" value="{{subject}}">
                <br>

                <div class="label">Content</div>
                <div><textarea name="content">{{content}}</textarea></div>

                <div class="error">{{error}}</div>

                <input class="button" type="submit">

                {% if post_id %}
                    <a class="cancel" href={{"/%s" % post_id}}>cancel</a>
                {% else %}
                    <a class="cancel" href="/">cancel</a>
                {% endif %}
            </form>
    </div>

{% endblock %}