{% extends "base.html" %}

{% block content %}
<div class="post-single">
        {{post.render() | safe}}
</div>

    <div class="post-action text-center">
        {% if user%}
            {% if user.name == post.author %}
                | <a href="/{{post.key().id()}}/edit">Edit</a> | <a href="/{{post.key().id()}}/delete">Delete</a>
            {% elif liked %}
                <a href="/{{post.key().id()}}/unlike">Unike</a>
            {% else %}
                <a href="/{{post.key().id()}}/like">Like</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="liked-by">
        {% for like in likes %}
            {{ like.user_name }} | {{ like.post_id }}<br>
        {% endfor %}
    </div>

    <div class ="write-comment">
        <form method="post">
            <h4>Leave a comment:</h4>
            <div><textarea name="comment-content">{{content}}</textarea></div>
            <input class="button" type="submit">
        </form>
    </div>

    <div class="comments">

    </div>



{% endblock %}